absl-py
astor
cffi
Click
emoji
Flask
gast
gevent
google-pasta
greenlet
grpcio
gunicorn
h5py
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
numpy
protobuf
pycparser
PyYAML
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
Werkzeug

